@model IEnumerable<PetBD.Models.Slider>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="col-lg-10 grid-margin stretch-card mx-auto">
    <div class="card">
        <div class="card-body">
            <h3 class="card-title text-center">Sliders</h3>
            <p class="card-description">
                <a class="btn btn-outline-info" asp-action="Create">Add New</a>
            </p>
            <hr />
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Title)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.SubTitle)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Image)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.IsActive)
                            </th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                         @foreach (var item in Model) {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Title)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.SubTitle)
                                </td>
                                <td>
                                    <img src="@("~/assets/img/slider/"+item.Image)" asp-append-version="true" width="250px" height="250px"/>
                                </td>
                                <td>
                                    @if(item.IsActive == true){
                                        <label class="badge badge-success">Active</label>
                                    }else{
                                        <label class="badge badge-danger">Deactivated</label>
                                    }
                                </td>
                                <td>
                                    <a class="text-warning" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                                    <a class="text-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>    
                </table>
            </div>
        </div>
    </div>
</div>