@model IEnumerable<PetBD.Models.Slider>

@{
    ViewData["Title"] = "Index";
}

<div class="container mt-4">
    <h3>Sliders</h3>

    <p>
        <a class="btn btn-outline-primary" asp-action="Create">Add New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SubTitle)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Image)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsActive)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SubTitle)
                </td>
                <td>
                    <img src="@("~/assets/img/slider/"+item.Image)" asp-append-version="true" width="250px" height="250px"/>
                </td>
                <td>
                    @if(item.IsActive == true){
                        <p class="text-success fw-bold ">Active</p>
                    }else{
                        <p class="text-danger fw-bold ">Deactivated</p>
                    }
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
    }
        </tbody>
    </table>

</div>